#page-room {
  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 1120px;
      margin: 0 auto;  /* para que fique centralizado */
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;
      }

      > div {  /* criada para que o justify-content: space-between acima jogue o botão e a sala para a direita */
        display: flex;  /* para que os elementos fiquem um ao lado do outro */
        gap: 16px; /* suportada pela maioria dos navegadores, adiciona espaço entre os elementos de forma fácil e rápida. Só se aplica se tiver mais de um elemento */

        button {
          height: 40px; /* diminui a altura do botão para ficar igual à altura da sala */
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;  /* para que fique centralizado */

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #29292e;
      }

      span {
        margin-left: 16px;
        background: #e559f9;
        border-radius: 9999px;
        padding: 8px 16px;
        color: #FFF;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-width: 130px;
      }

      .form-footer {
        display: flex;  /* para que as coisas fiquem uma ao lado da outra */
        justify-content: space-between;  /* para o botão ir para o canto  */
        align-items: center; /* para que fique alinhado verticalmente ao centro */
        margin-top: 16px;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          span {
            margin-left: 8px;
            color: #29292e;
            font-weight: 500;
            font-size: 14px;
          }
        }

        > span {
          font-size: 14px;
          color: #737380;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #835AFD;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 32px;
    }
  }
}
